* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 15px;
    height: 100vh;
    width: 100%;
}

ul li {
    margin: 10px;
    
}

li:hover {
    cursor: pointer;
    background-color: grey;
    border: none;
    
}

ul {
    display: none;
}

.list-item {
    display: block;
}



